
<div>
<ul class="nav nav-tabs" role="tablist" >
                    
                    <li>
                        <a ui-sref="form.admin.login" ng-click="gotoTop()">Login</a>
                    </li>
                    <li>
                        <a ui-sref="form.admin.users" ng-click="gotoTop()">Users</a>
                    </li>
                    <li>
                        <a ui-sref="form.admin.items" ng-click="gotoTop()">Items</a>
                    </li>
                    <li>
                        <a ui-sref="form.admin.category" ng-click="gotoTop()">Category</a>
                    </li>
                     <li>
                        <a ui-sref="form.admin.settings" ng-click="gotoTop()">Settings</a>
                    </li>
</ul>



<div id="admin-views" ui-view></div>

</div>


