


<div >
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-lg-7">
                <h2 class="centre">
                    <div >
                    <small class="colorblack">
                        Please complete all the requeired information. <br>

                        Upload Item Picture</small></h2>
                    <img src="http://etc-mysitemyway.s3.amazonaws.com/icons/legacy-previews/icons/silver-inlay-square-metal-icons-arrows/009481-silver-inlay-square-metal-icon-arrows-arrow2-upload.png" height="400" width="400"> </div>
            </div>
        </div>
    </div>
</div>
<div class="container" >
    <div class="row">
        <div class="col-md-7">
            <div class="centre">
            <div class="well well-sm">

                <form>
                <div class="row">

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">
                                Item</label>
                            <input type="text" class="form-control" id="name" placeholder="What is?" required="require">
                             <label for="nameUser">
                                First Name</label>
                            <input type="text" class="form-control" id="nameUser" placeholder="First Name" required="require">
                             <label for="lastUser">
                                Last Name</label>
                            <input type="text" class="form-control" id="lastUser" placeholder="Last Name" required="require">
                             <label for="phone">
                                Phone Number</label>
                            <input type="text" class="form-control" id="phone" placeholder="787-655-5678" required="require">
                        </div>
                        <div class="form-group">
                            <label for="location">
                                Location</label>
                            <div class="input-group">
                                
                                </span>
                                <input type="input" class="form-control" id="location" placeholder=" Place " required="require">
                                  <label for="City">
                                City</label>
                                 <input type="input" class="form-control" id="location" placeholder=" City " ></div>
                        </div>
                           
                        </div>
                    <div class="col-md-6">
                        <div class="form-group">
                             <div class="form-group">
                                <label for="subject">
                                    Category</label>
                                <select id="subject" name="subject" class="form-control" required="required">
                                    
                         <option selected>All</option>
                         <option>Date</option>
                         <optgroup label = "Category">
                           <option>Electronic</option>
                           <option>Books</option>
                           <option>Bags</option>
                           <option>Personal</option>
                           <option>Clothes</option>
                           <option>Other</option>
                         </optgroup>
                         <option>Building</option>
                         <option>ItemId</option>
                       </select></button>
                          
                            </div>
                            <label for="name">
                                Description</label>
                            <textarea name="message" id="message" class="form-control" rows="9" cols="25" required="required"
                                placeholder="Message"></textarea>
                        </div >
                       
                        
 <div>
      <input type="checkbox" id="inlineCheckbox1" value="option1"> Enable the system to send notifications related to this post to your email? "</input>
   </div>
   <div class="CheckBoxedit2">     
    <input type="checkbox" id="inlineCheckbox1" value="option2"> Item was delivered.</input>
   </div>

                    </div>
                    </div>
                </div>
                </form>
            </div>
        </div>

                       
    </div>
     <div class="caption">
        
        <a ui-sref="form.newsfeeds" ng-click="gotoTop()" id ="save"class="btn btn-primary" role="button">Save</a> 
        
        <a ui-sref="form.newsfeeds" ng-click="gotoTop()" id ="remove" class="btn btn-primary" role="button">Remove</a> 
        <a ui-sref="form.newsfeeds" ng-click="gotoTop()" id ="reset" class="btn btn-primary" role="button">Reset Key</a> 
      </div>     
</div>


 
