<!-- Collect the nav links, forms, and other content for toggling -->
    <style type="text/css">


    #list{
        padding-top: 5px;
    }


   
</style>
<div class = "logginItemView">
   <div class="col-xs-6 col-md-6">
              
                <input type="text" class="form-control" id="nameUser" placeholder="Email" ></div>
   <div class="col-xs-6 col-md-6">
              
                <input type="text" class="form-control" id="nameUser" placeholder="Secret Key" > </div>

              </div>
              
   <div id ="edit">                        
        <a ui-sref="form.myitems" d ="editBtn" class="btn btn-primary" role="button" >My Posts</a> 
        
      </div> 
        
                
<div id="list" ng-controller="formController"> 

<ul class="list-group">
  <li class="list-group-item" ng-repeat="item in items">
    <div class="row">
  <div class="col-xs-6 col-md-4"><div class="itemimg"><img ui-sref="form.viewitem" ng-click="gotoTop()" src="http://www.quick-return-cleaners.co.uk/sitebuildercontent/sitebuilderpictures/keys.jpg" height="200" width="200"> </div></div>
  <div class="col-xs-6 col-md-4"><h2 ><CENTER>{{item.status}}</CENTER></h2><h4><CENTER>Item id: {{item.itemId}}</CENTER></h4><h4><CENTER>{{item.location}}</CENTER></h4><h4><center>Seen by: {{item.views}}</center></h4>
 </div>
  <div class="col-xs-6 col-md-4">  
 

 <div class="thumbs ">
   
  <h3 ><center>{{item.name}}</center></h3>
 
 <center>

 <button type="down" class="btn btn-large center"><span class="glyphicon glyphicon-thumbs-down"></span> </button></center></div>
 </div>
</div>

  
  </li>
   
  

</ul>
</div>