
<div class="form-group row">
   <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
     
      <form class="navbar-form navbar-right" role="search">

        
        <div class="input-group" ng-controller="CategoryController">
      <div class="input-group-btn" >
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">By: <span class="caret"></span > 
             <select width="100" style="width: 100px">
                     <option selected>All</option>
                     <option ng-repeat="category in categories">{{category.name}}</option>
                
                   
                   </select></button>
        
           

      </div><!-- /btn-group -->
     
      <input type="text" class="form-control" placeholder="Search">
     
  
<!-- /input-group -->
      </form>
  
       </div>
<div class="reportbtn">
    <a ui-sref="form.reportitem" class="btn btn-block btn-info">
    Report Lost Item <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
</div>
</div>
</div>
<div id="list" ng-controller="formController"> 

<ul class="list-group">
  <li class="list-group-item" ng-repeat="item in items" >
    <div class="row">
  <div class="col-xs-6 col-md-4"><div class="itemimg"><img ui-sref="form.viewitem" src="http://www.quick-return-cleaners.co.uk/sitebuildercontent/sitebuilderpictures/keys.jpg" height="200" width="200"  > </div></div>
  <div class="col-xs-6 col-md-4"><h2 ><CENTER>{{item.status}}</CENTER></h2><h4><CENTER>Item id: {{item.itemId}}</CENTER></h4><h4><CENTER>{{item.location}}</CENTER></h4><h4><center>Seen by: {{item.views}}</center></h4>
 </div>
  <div class="col-xs-6 col-md-4">  
 

 <div class="thumbs ">
   
  <h3 ><center>{{item.name}}</center></h3>
 
 <center>

 <button type="down" class="btn btn-large center"><span class="glyphicon glyphicon-thumbs-down"></span> </button></center></div>
 </div>
</div>

  
  </li>
   
  

</ul>
</div>
