<!-- Page Content -->
    <style type="text/css">

    .img-responsive{

        padding-top:40px;
        }</style>
    <div class="container" ng-controller="itemViewController">

        <div id ="editItemView"class="row">

         

            <div class="col-md-7">

                <div class="thumbnail">
                    <img class="img-responsive" src="http://www.quick-return-cleaners.co.uk/sitebuildercontent/sitebuilderpictures/keys.jpg" height="400" width="400">
                    <div class="caption-full" >
                        
                        <h4>Keys  Found by: <a> {{item.name}}</a> </h4>
                        <h4>Reported Date: {{item.reportDate}}</h4>
                        <h4>Success Date: {{item.successDate}}</h4>
                         <h4>Item id: {{item.itemId}}</h4>
                          <h4>Location: {{item.location}}</h4>
                          <h4>Description:</h4>                     
                        <p>{{item.description}}</p>
                    </div>
                    
                </div>

                <div class="well">

                    <div class="text-right">
                        <a class="btn btn-success" ng-click="gotoTop()" ui-sref="form.addcomment" >Leave a Review</a>
                    </div>

                    <hr>
                    <li id="comments" ng-repeat="com in comments">
                    <div class="row">
                        <span class="pull-right">{{com.date}}</span>
                        <div class="col-md-12">
                            
                            <center>{{com.name}} said:
                            <p>{{com.comment}}</p></center>
                        </div>
                    </div>
                    <hr>
                </li>
                   
                    


                </div>
                 <div id ="edit"class="center">
        
        <a  d ="editBtn" class="btn btn-primary" ng-click="gotoTop()" role="button" ui-sref="form.edititem">Edit</a> 
        
      </div>     

            </div>

        </div>

    </div>
    <!-- /.container -->